#Site Naam , belangrijk voor verschillende instanties te maken op 1 server
SITE_NAME=viraco
DB_IMAGE=mysql
DB_VERSION=8.0
MYSQL_ROOT_PASSWORD=


WP_IMAGE=wordpress
WP_VERSION=latest
DB_MYSQL_USER=
DB_MYSQL_PASSWORD=
DB_MYSQL_NAME=
NETWORK_NAME=proxy
